<div class="wrapper-start">
  <div class="flex align-items-center justify-content-between px-4 py-2 w-full">
    <div class="flex align-items-center">
      <img src="logo.svg" alt="Logo" />
    </div>
    <div class="flex align-items-center gap-3">
      <p-button
        label="Products"
        icon="pi pi-book"
        styleClass="p-button-text p-button-plain text-white"
      ></p-button>
      <p-button
        label="Features"
        icon="pi pi-sliders-h"
        styleClass="p-button-text p-button-plain text-white"
      ></p-button>
      <p-button
        label="About"
        icon="pi pi-receipt"
        styleClass="p-button-text p-button-plain text-white"
      ></p-button>
      <p-button label="Contact" styleClass="p-button-text p-button-plain text-white"></p-button>
      <p-button
        label="Login"
        styleClass="p-button-text p-button-plain text-white"
        routerLink="/login"
      ></p-button>
      <p-button
        label="Register"
        styleClass="p-button-text p-button-plain text-white"
        routerLink="/register"
      ></p-button>
    </div>
  </div>
  <div class="flex justify-content-center gap-6">
    <div class="flex flex-column justify-content-center gap-4">
      <h1 class="text-6xl font-bold text-white">
        Fastest & secure <br />
        platform to invest <br />
        in crypto
      </h1>
      <p class="text-lg text-white">
        Buy and sell cryptocurrencies, trusted by 10M wallets <br />
        with over $30 billion in transactions.
      </p>
      <p-button label="Try for FREE" styleClass="p-button-lg bg-blue-500 border-none"></p-button>
    </div>
    <div class="flex align-items-center gap-6">
      <img src="/illustration.svg" alt="bitcoin_card" />
    </div>
  </div>

  <div class="flex justify-center items-center px-8 py-8">
    <div class="flex items-center flex-1 gap-4">
      <img src="/icon_diagrama.svg" alt="diagrama" />
      <div class="flex flex-column">
        <h2 class="text-xl font-bold text-white">$30B</h2>
        <p class="text-lg text-white">Digital Currency Exchanged</p>
      </div>
    </div>
    <div class="flex items-center flex-1 gap-4">
      <img src="/icon_person.svg" alt="person" />
      <div class="flex flex-column">
        <h2 class="text-xl font-bold text-white">10M+</h2>
        <p class="text-lg text-white">Trusted Wallets Investor</p>
      </div>
    </div>
    <div class="flex items-center flex-1 gap-4">
      <img src="/icon_world.svg" alt="world" />
      <div class="flex flex-column">
        <h2 class="text-xl font-bold text-white">195</h2>
        <p class="text-lg text-white">Countries Supported</p>
      </div>
    </div>
  </div>

  <div class="flex justify-content-center gap-6">
    <div class="flex align-items-center gap-6">
      <img src="kartinka.svg" alt="kartinka" />
    </div>
    <div class="flex flex-column justify-content-center gap-4">
      <h2 class="text-2xl font-bold text-white">
        Why you should choose <br />
        CRAPPO
      </h2>
      <p class="text-lg text-white">
        Experience the next generation cryptocurrency <br />
        platform. No financial borders, extra fees, and fake <br />
        reviews.
      </p>
      <p-button label="Learn More"></p-button>
    </div>
  </div>

  <div class="flex flex-column justify-content-center items-center text-center mt-8">
    <h2 class="text-white">Check how much you can earn</h2>
    <p class="text-lg text-white">
      Let’s check your hash rate to see how much you will earn today, <br />
      Exercitation veniam consequat sunt nostrud amet.
    </p>
  </div>
</div>

<div class="wrapper-middle py-8">
  <div class="flex flex-column justify-content-center text-center items-center">
    <h2>
      Trade securely and market the high <br />
      growth cryptocurrencies.
    </h2>
    <div class="flex justify-content-center gap-3 mt-8">
      <div
        class="flex flex-column justify-content-center align-items-center text-white card-custom"
      >
        <img src="logos_bitcoin.svg" alt="logo_btc" />
        <h3>Bitcoin</h3>
        <p class="text-sm">
          Digital currency in which a record of <br />
          transactions is maintained.
        </p>
        <p-button label="Start mining"></p-button>
      </div>
      <div class="flex flex-column justify-content-center align-items-center card-custom">
        <img src="logos_ethereum.svg" alt="logo_eth" />
        <h3>Ethereum</h3>
        <p class="text-sm">
          Blockchain technology to create and run <br />
          decentralized digital applications.
        </p>
        <p-button
          icon="pi pi-chevron-right"
          styleClass="p-button-rounded p-button-outlined text-blue-500"
        ></p-button>
      </div>
      <div class="flex flex-column justify-content-center align-items-center card-custom">
        <img src="logos_letecoin.svg" alt="logo_ltc" />
        <h3>Litecoin</h3>
        <p>
          Cryptocurrency that enables instant <br />
          payments to anyone in the world.
        </p>
        <p-button
          icon="pi pi-chevron-right"
          styleClass="p-button-rounded p-button-outlined text-blue-500"
        ></p-button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-section py-8">
  <div class="flex justify-content-center text-center text-white">
    <h2>
      Market sentiments, portfolio, and run <br />
      the infrastructure of your choice
    </h2>
  </div>
  <div class="flex justify-content-center align-items-center gap-8 mt-8">
    <div class="text-white">
      <h3>Invest Smart</h3>
      <p class="text-sm">
        Get full statistic information about the behaviour of <br />
        buyers and sellers will help you to make the decision.
      </p>
      <p-button label="Learn More"></p-button>
    </div>
    <div class="flex align-items-center">
      <img src="diagrama_bitcoin.svg" alt="" />
    </div>
  </div>

  <div class="flex justify-content-start align-items-center gap-8 mt-8">
    <div class="flex justify-content-start">
      <img src="statistic.svg" alt="" />
    </div>
    <div class="flex justify-content-center align-items-center">
      <div class="text-white">
        <h3>Detailed Statistics</h3>
        <p>
          View all mining related information in realtime, at any <br />
          point at any location and decide which polls you want <br />
          to mine in.
        </p>
        <p-button label="Learn More"></p-button>
      </div>
    </div>
  </div>

  <div class="flex justify-content-center align-items-center text-white mt-8 gap-8">
    <div class="">
      <h3>
        Grow your profit and track <br />
        your investments
      </h3>
      <p>
        Use advanced analytical tools. Clear TradingView <br />
        charts let you track current and historical profit <br />
        investments.
      </p>
      <p-button label="Learn More"></p-button>
    </div>
    <div class="">
      <img src="table.svg" alt="" />
    </div>
  </div>

  <div class="flex justify-content-center align-items-center">
    <div
      class="flex justify-content-between align-items-center flex-wrap text-white mt-8 modal-form"
    >
      <div class="ml-8">
        <h3 class="font-bold">Start mining now</h3>
        <p class="font-normal">
          Join now with CRAPPO to get the latest news <br />
          and start mining now
        </p>
      </div>
      <div class="flex align-items-center flex-wrap mr-8 gap-3">
        <input type="email" pInputText placeholder="Enter your email" />
        <p-button label="Subscribe"></p-button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-footer py-8">
  <div class="flex justify-content-between text-white mr-6 ml-6">
    <div class="">
      <img src="logo.svg" alt="" />
    </div>
    <div class="flex flex-column links">
      <p class="font-medium">Quick Link</p>
      <a href="">Home</a>
      <a href="">Products</a>
      <a href="">About</a>
      <a href="">Features</a>
      <a href="">Contact</a>
    </div>
    <div class="flex flex-column text-white links">
      <p class="font-medium">Resources</p>
      <a href="">Download Whitepapper</a>
      <a href="">Smart Token</a>
      <a href="">Blockchain Explorer</a>
      <a href="">Crypto API</a>
      <a href="">Interest</a>
    </div>
    <div class="flex flex-column items-start gap-4">
      <h2 class="text-white">
        We accept following <br />
        payment systems
      </h2>
      <div class="flex justify-center gap-4">
        <img src="visa_icon.svg" alt="" width="96" height="64" />
        <img src="mastercard_icon.svg" alt="" width="96" height="64" />
        <img src="bitcoin_icon.svg" alt="" width="96" height="64" />
      </div>
    </div>
  </div>
</div>
